@import './variables.scss';

@mixin flex($direction: row, $j-content: flex-start, $a-items: stretch, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
    flex-wrap: $wrap;
}

.mt-20 {
    margin-top: 20px;
}

.invisible-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
